<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Used to run VectorCAST build under vcshell</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>VCAST_BRANCH</name>
          <description>Name of the VectorCAST branch to test</description>
          <defaultValue>vc20__89129_vctools</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_NAME</name>
          <description></description>
          <defaultValue>default</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>vhblrpctwin009</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>call &quot;C:\Program Files (x86)\Microsoft Visual Studio 9.0\VC\vcvarsall.bat&quot; x86&#xd;
curl -O http://vabosautofs1.vi.vector.int/JobData/VectorCAST/%VCAST_BRANCH%/deliver/windows64/release.tar.gz&#xd;
&#xd;
7z x  -so release.tar.gz | 7z x -si -ttar&#xd;
&#xd;
move release vcast&#xd;
set VECTORCAST_DIR=%CD%\vcast&#xd;
set LM_LICENSE_FILE=7650@licenseserver.vectors.com&#xd;
&#xd;
if not exist n: (&#xd;
    subst n: C:\vcast_libs\n&#xd;
)&#xd;
if not exist q: (&#xd;
    subst q: C:\vcast_libs\q&#xd;
)&#xd;
set PATH=C:\cygwin\bin;%PATH%&#xd;
bash -c &quot;/home/svc-jenkins-pct-4/build_vcast.sh&quot;&#xd;
C:\sqlite3\sqlite3.exe %WORKSPACE%\%BUILD_NAME%.db &lt; C:\cygwin\home\svc-jenkins-pct-4\sqlite3_cmd.txt</command>
      <configuredLocalRules/>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.38">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.11.8"/>
  </buildWrappers>
</project>